.Multicolor {
    background: linear-gradient(to left, violet, indigo, blue, rgb(44, 134, 138), rgb(147, 21, 105), rgb(26, 78, 190), darkgreen);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.LogList {
    font-weight: 300;
}

body {
    /* for Firefox, default 1*/
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    /* For Chrome, IE, default 100%*/
    zoom: 120%;
    -moz-transform-origin: top;
    transform-origin: top;
}

@-webkit-keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

@keyframes come-in {
    0% {
        -webkit-transform: translatey(100px);
        transform: translatey(100px);
        opacity: 0;
    }

    30% {
        -webkit-transform: translateX(-50px) scale(0.4);
        transform: translateX(-50px) scale(0.4);
    }

    70% {
        -webkit-transform: translateX(0px) scale(1.2);
        transform: translateX(0px) scale(1.2);
    }

    100% {
        -webkit-transform: translatey(0px) scale(1);
        transform: translatey(0px) scale(1);
        opacity: 1;
    }
}

.floating-button:hover {
    box-shadow: 0 10px 25px rgba(44, 179, 240, 0.6);
    -webkit-transform: translatey(5px);
    transform: translatey(5px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

div.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    margin: auto;
}

.floating-button {
    position: fixed;
    width: 55px;
    height: 55px;
    background: #2cb3f0;
    /* bottom: 30pt; */
    border-radius: 50%;
    right: 10%;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 23px;
    z-index: 1000;
    box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}